[submodule "examples/adapter-yaml/themes/snack-theme-minimal"]
	path = examples/adapter-yaml/themes/snack-theme-minimal
	url = git@github.com:bytehunger/snack-theme-minimal.git
[submodule "examples/adapter-json/themes/snack-theme-minimal"]
	path = examples/adapter-json/themes/snack-theme-minimal
	url = git@github.com:bytehunger/snack-theme-minimal.git
